<!-- <!DOCTYPE html>
<html>
<head>
    <title>Student Old Details</title>
</head>
<body>
    <h2><%= user.name %>'s Details</h2>
    <ul>
        <li><strong>Name:</strong> <%= user.name %></li>
        <li><strong>Enrollment No:</strong> <%= user.enrollNo %></li>
        <li><strong>Email:</strong> <%= user.email %></li>
        <li><strong>Branch:</strong> <%= user.branch %></li>
        <li><strong>Section:</strong> <%= user.section %></li>
        <li><strong>Year:</strong> <%= user.year %></li>
        <li><strong>Semester:</strong> <%= user.sem %></li>
        <li><strong>Mobile No:</strong> <%= user.mobileNo %></li>
        <li><strong>Gender:</strong> <%= user.gender %></li>
        <li><strong>10th School:</strong> <%= user.tenthschool %></li>
        <li><strong>10th Marks:</strong> <%= user.tenthmarks %></li>
        <li><strong>10th Year:</strong> <%= user.tenthyear %></li>
        <li><strong>12th School:</strong> <%= user.twelthschool %></li>
        <li><strong>12th Marks:</strong> <%= user.twelthmarks %></li>
        <li><strong>12th Year:</strong> <%= user.twelthyear %></li>
        <li><strong>CGPA:</strong> <%= user.cgpa %></li>
        <li><strong>Cultural Interests:</strong> <%= user.cultural %></li>
        <li><strong>Technical Skills:</strong> <%= user.technical %></li>
        <li><strong>Sports Interests:</strong> <%= user.sports %></li>
        <li><strong>Title 1:</strong> <%= user.title1 %></li>
        <li><strong>Description 1:</strong> <%= user.description1 %></li>
        <li><strong>Title 2:</strong> <%= user.title2 %></li>
        <li><strong>Description 2:</strong> <%= user.description2 %></li>
        <li><strong>Designation 1:</strong> <%= user.designation1 %></li>
        <li><strong>Company Name 1:</strong> <%= user.companyname1 %></li>
        <li><strong>Start Date 1:</strong> <%= user.startdate %></li>
        <li><strong>Designation 2:</strong> <%= user.designation2 %></li>
        <li><strong>Company Name 2:</strong> <%= user.companyname2 %></li>
        <li><strong>Start Date 2:</strong> <%= user.startdate2 %></li>
        <li><strong>Certificate 1:</strong> <%= user.certificate1 %></li>
        <li><strong>Certificate 2:</strong> <%= user.certificate2 %></li>
        <li><strong>Github:</strong> <a href="<%= user.github %>"><%= user.github %></a></li>
        <li><strong>LinkedIn:</strong> <a href="<%= user.linkedin %>"><%= user.linkedin %></a></li>
    </ul>
</body>
</html> -->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>

	<title>Jonathan Doe | Web Designer, Director | name@yourdomain.com</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
	<link rel="stylesheet" type="text/css" href="/components/css/oldstudentdetails.css" media="all" />

</head>
<body>

<div id="doc2" class="yui-t7">
	<div id="inner">
	
		<div id="hd">
			<div class="yui-gc">
				<div class="yui-u first">
					<h1><%= user.name %></h1>
					<h2><%= user.enrollNo %></h2>
				</div>

				<div class="yui-u">
					<div class="contact-info">
						<h3><%= user.email %></a></h3>
						<h3><%= user.mobileNo %></h3>
                        <h3><%= user.github %></a></h3>
						<h3><%= user.linkedin %></h3>
					</div>
				</div>
			</div>
		</div>

		<div id="bd">
			<div id="yui-main">
				<div class="yui-b">

					


					<div class="yui-gf">
						<div class="yui-u first">
							<h2>Skills</h2>
						</div>
						<div class="yui-u">

								<div class="talent">
									<h2><%= user.technical %></h2>
								</div>

								<div class="talent">
									<h2><%= user.cultural %></h2>
								</div>

								<div class="talent">
									<h2><%= user.sports %></h2>
								</div>
						</div>
					</div>
                    <div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Education</h2>
						</div>

						<div class="yui-u">

							<div class="job">
								<h2>College:</h2>
								<h3>AITR Indore</h3>
								<h4>CGPA: <%= user.cgpa %></h4>
							</div>

							<div class="job">
								<h2>12th Schooling</h2>
								<h3><%= user.twelthschool %></h3>
								<h4><%= user.twelthyear %></h4>
                                <p>Percentage: <%= user.twelthmarks %></p>
								
							</div>

							<div class="job">
								<h2>10th Shooling</h2>
								<h3><%= user.tenthschool %></h3>
								<h4><%= user.tenthyear %></h4>
								<p> <p>Percentage: <%= user.tenthmarks %></p> </p>
							</div>

						</div>
					</div>


					

				</div>
			</div>
		</div>


					<div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Projects</h2>
						</div>
						<div class="yui-u">

							<div class="job">
								<h2><%= user.title1 %></h2>
								<h3><%= user.description1 %></h3>
								<h4>2022</h4>
								
							</div>

							<div class="job">
								<h2><%= user.title2 %></h2>
								<h3><%= user.description2 %></h3>
								<h4>2022</h4>
								
							</div>

						</div>
					</div>

                    <div class="yui-gf">
	
						<div class="yui-u first">
							<h2>Internship</h2>
						</div>
						<div class="yui-u">

							<div class="job">
								<h2><%= user.companyname1 %></h2>
								<h3><%= user.designation1   %></h3>
								<h4><%= user.startdate %></h4>
								
							</div>

							<div class="job">
								<h2><%= user.companyname2 %></h2>
								<h3><%= user.designation2 %></h3>
								<h4><%= user.startdate2 %></h4>
								
							</div>

						
						</div>
					</div>


					

				</div>
			</div>
		</div>

		

	</div>


</div>


</body>
</html>

